<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path%></li>
  <li><%= link_to 'Utilities', utilities_path %></li>
  <li class="active"><%= @utility.name %></li>
</ol>

<h2>Edit <%= @utility.name %></h2>

<%= render 'form', utility: @utility %>
