<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path%></li>
  <li><%= link_to 'Utilities', utilities_path%></li>
  <li><%= link_to @utility.name, utility_path(@utility)%></li>
  <li><%= link_to 'User Privileges', utility_privileges_path(@utility)%></li>
  <li class="active">New Privilege</li>
</ol>

<h2>New Privilege</h2>

<%= form_for [@utility, @privilege] do |f| %>
<div class="form-group">
  <%= f.label :user%>
  <%= f.collection_select :user_id, User.all, :id, :email, {},
  class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :user%>
  <%= f.select :permission, Privilege.permissions.map{ |p, _| [p.humanize, p]},
  {},
  class: 'form-control' %>
</div>

<%= f.submit nil, class: 'btn btn-primary'%>
<%end%>
