<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path%></li>
  <li class="active"><%= @post.headline%></li>
</ol>


<a><h3><%= @post.url%></h3></a>

<div>
 Description: <%= @post.description %>
</div>


Posted by <%= @post.user.email %> at <%= @post.created_at.to_formatted_s(:rfc822)%>


<div class="form-group">
  <%= render @post.comments%>
</div>

<% if policy(@post).edit? %>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default' %>
<% end %>
<% if policy(@post).destroy? %>
  <%= link_to 'Delete', post_path(@post),
      method: :delete,
      class: 'btn btn-danger',
        data: {confirm: "Delete this Post?"} %>
<% end %>

<%= render 'comments/form', comment: current_user.comments.new(commentable: @post)%>
